body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #386C5F;
  background-color: #609C88;
}

#root {
  background-color: #EAFEF6;
  height: 50vh;
  padding: 20px;
  margin: 40px;
  text-align: center;
  border-radius: 5px;
}

input {
  margin: 10px;
  width: 60px;
}

